.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.App-header {
  background-color: #282c34;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.headerSeperator {
  min-width: 50%;
  border: 2px solid #ffd966;
}

.quote{
  max-width: 80%;
  font-style: italic;
}

.appFooter{
  max-height: 2vh;
}

.footerText {
  /* padding: auto; */
  /* margin-top: 3%; */
  text-align: center;
}

a {
  outline-color: transparent;
  text-decoration: none;
  color: black;
}

a:hover {
  color:#ffd966;
}